:root {
  --quotes-size: 14px;
}

/* Inline quotes. */
q {
  font-style: italic;
  quotes: "‘" "’" "“" "”";
  &:before {
    content: open-quote;
  }
  &:after {
    content: close-quote;
  }
}

/* Block quotes. */
blockquote {
  margin-right: var(--base-spacing-unit);
  margin-left:  var(--base-spacing-unit);
  padding-left: var(--base-spacing-unit);
  border-left: 2px solid var(--color-quotes);
  font-style: italic;
  @mixin font-size var(--quotes-size);
  quotes: "“" "”";
  p {
    text-indent: -0.41em;
    &:before {
      content: open-quote;
    }
    &:after {
      content: no-close-quote;
    }
    &:last-of-type {
      margin-bottom: 0;
      &:after {
        content: close-quote;
      }
    }
  }
  q {
    quotes: "‘" "’";
    &:before {
      content: open-quote;
    }
    &:after {
      content: close-quote;
    }
  }
}
