:root {
  --heading-size-1:  36px;
  --heading-size-2:  30px;
  --heading-size-3:  24px;
  --heading-size-4:  20px;
  --heading-size-5:  16px;
  --heading-size-6:  14px;
}

h1 {
    @mixin font-size var(--heading-size-1);
}

h2 {
    @mixin font-size var(--heading-size-2);
}

h3 {
    @mixin font-size var(--heading-size-3);
}

h4 {
    @mixin font-size var(--heading-size-4);
}

h5 {
    @mixin font-size var(--heading-size-5);
}

h6 {
    @mixin font-size var(--heading-size-6);
}
