.post {
  position: relative;
  border: 2px solid var(--color-dark);
  border-radius: var(--base-round);
  padding: 50%;
  margin-bottom: var(--base-spacing-unit);
}
  .post__title {
    @util center;
    width: 100%;
    text-align: center;
    @mixin font-size 24px;
  }
