// Overwrite Bootstrap Styles
.quote-item__blockquote {
	margin-bottom: 15px;
	margin-top: 15px;
}

// when loading
.hidden {
	display: none;
	transition: all .3s ease-in-out;
}

// when filtered
.filtered {
	.quote-item {
		.quote-item__tag {
			background: #76a5db;
			color: #fff;
			&:hover {
				background: #76a5db;
				color: #fff;
			}
		}
	}
}

// Side-nav is open
.nav-open .overlay {
	opacity: 1;
	width: 100%;
	height: 100%;
	left: 0;
	cursor: pointer;
}

.content-main {
	padding-bottom: 70px;
	transform: translateX(0);
	width: 100%;
	padding-top: 60px;
	transition: all .15s cubic-bezier(0.2,0.3,0.25,0.9);
	float: right;
}

.overlay {
	display: block;
	background: rgba(150, 150, 150, .2);
	opacity: 0;
	transition: all .0075s cubic-bezier(0.2,0.3,0.25,0.9);
	position: absolute;
	top: 60px;
	left: -80%;
	width: 0;
	height: 0;
}

.quotes-gallery {
	width: 100%;
	height: 100%;
}

.quote-item {
	float: left;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
	background-color: #fff;
	border-radius: 3px;
	// Mobile
	@media screen and (max-width: $max-width-xs) {
		width: 100%;
	}
	// Tablet
	@media screen and (min-width: $min-width-xs) and (max-width: $max-width-md) {
		width: calc(50% - 16px);
		margin-right: 8px;
		margin-left: 8px;
	}
	// Laptop
	@media screen and (min-width: $min-width-md) {
		width: calc(33% - 25px);
		margin-left: 25px;
	}
	%itemButton {
		position: absolute;
		top: 10px;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		padding: 0;
	}
	&.v-enter {
		animation: fadein .5s;
	}
	&.v-leave {
		animation: fadeout .5s;
	}
	#{&}__delete-btn {
		@extend %itemButton;
		background-color: #fdb0ad;
		right: 10px;
	}
	#{&}__edit-btn {
		@extend %itemButton;
		background-color: #fdeaa2;
		right: 25px;
	}
	#{&}__title {
		font-weight: bold;
		letter-spacing: .025em;
		padding-bottom: 10px;
	}
	#{&}__figure {
		position: relative;
		overflow: hidden;
		border-radius: 3px;
		&:hover {
			.quote-item__img {
				filter: grayscale(0%);
				transform: scale(1.2);
			}
			.quote-item__imgcaption {
				span {
					transform: translateX(0);
					opacity: 1;
				}
			}
		}
	}
	#{&}__img {
		transition: filter .15s ease-in-out, transform .15s ease-in-out;
		border-radius: 3px;
		filter: grayscale(100%);
	}
	#{&}__imgcaption {
		position: absolute;
		border-radius: 3px;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		& span {
			position: absolute;
			transform: translateX(-100%);
			bottom: 0;
			width: 100%;
			display: block;
			padding: 10px 0;
			background: rgba(255, 255, 255, .7);
			font-size: 1.15em;
			font-weight: thick;
			text-align: center;
			color: #606871;
			font-family: 'Avenir';
			opacity: 0;
			transition: transform .15s ease-in-out, opacity .15s ease-in-out;
		}
	}
	#{&}__memo {
		padding: 20px 0;
		font-size: 15px;
	}
	#{&}__blockquote {
		width: 90%;
		text-align: justify;
		margin-right: auto;
		margin-left: auto;
	}
	#{&}__link {
		text-decoration: underline;
		&:hover {
			color: #333;
		}
	}
	#{&}__info {
		text-align: right;
	}
	#{&}__iframe {
		position: relative;
		padding-bottom: 56.25%;
		padding-top: 35px;
		height: 0;
		overflow: hidden;
		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
	#{&}__date {
		width: 100%;
		display: inline-block;
		text-align: right;
		padding: 15px 0;
	}
	#{&}__tag {
		background: transparent;
		color: #76a5db;
		border: 2px solid #76a5db;
		border-radius: 2px;
		transition: background .15s, color .15s;
		margin-right: 5px;
		&:hover {
			background: #76a5db;
			color: #fff;
		}
		&:last-child {
			margin-right: 0;
		}
	}
	#{&}__comment-button {
		float: right;
		display: inline-block;
		outline: none;
	}
	#{&}__comments {
		clear: both;
		display: none;
		float: left;
		width: 90%;
		margin-left: 5%;
		border: 2px dashed #eee;
	}
	#{&}__comment {
		width: 80%;
		margin-right: auto;
		margin-left: auto;
		border-bottom: 1px solid #eee;
	}
	#{&}__comment__date {
		float: right;
	}
}
