:root {
  /* Default Color */
  --color-light: #9A86EC;
  --color-dark: #545386;
  --color-dark-light: #8269AE;
  --color-base: #FFF;
  --color-type: #444;

  /* Background */
  --color-background: var(--color-base);

  /* Links */
  --color-links-text: var(--color-dark);
  --color-links-border: var(--color-dark);

  /* Text */
  --color-text: var(--color-type);
  --color-pre-background: var(--color-dark);
  --color-pre: var(--color-base);
  --color-code: var(--color-base);

  /* Buttons */
  --color-button-background: var(--color-dark-light);
  --color-button-text: var(--color-base);
  --color-button-border: var(--color-dark);

  /* Page Head */
  --color-page-head: var(--color-light);

  /* Headings */
  --color-headings: var(--color-dark);

  /* Quotes */
  --color-quotes: var(--color-dark-light);
}
