/*
 * Colors
 */

 // body
 $main-bg-color: rgba(181, 183, 188, 0.1);

 // Header
 $header-title-c: #333;
 $header-logo-initial-letter: #F64747;
 $header-logo-others: #BDC3C7;
 $header-bg-color: #fff;

 // Aside
 $filter-form-font-color: #BDC3C7;
 $filter-form__label_hover: #eee;
 $filter-form__label_font-color_hover: #F64747;
 $aside-bg-color: rgba(255, 255, 255, .95);

/*
 * Fonts
 */

// Google Web Fonts

	// Montserrat
	/* @import url(http://fonts.googleapis.com/css?family=Montserrat:400,700); */

	// Merriweather
	/* @import url(http://fonts.googleapis.com/css?family=Merriweather); */

// font-family
$header-title-f: "Avenir";
$main-font: "Avenir";
$aside-form-f: "Avenir";

// font-color
$main-font-color: #606871;

/*
 * Paddings and margins
 */

 // Margins
 .no-mg { margin: 0; }

 .mg-xs { margin: 5px; }
 .mg-sm { margin: 15px; }
 .mg-md { margin: 25px; }
 .mg-lg { margin: 45px; }

 .mg-top-xs { margin-top: 5px; }
 .mg-top-sm { margin-top: 15px; }
 .mg-top-md { margin-top: 25px; }
 .mg-top-lg { margin-top: 45px; }

 .mg-right-xs { margin-right: 5px; }
 .mg-right-sm { margin-right: 15px; }
 .mg-right-md { margin-right: 25px; }
 .mg-right-lg { margin-right: 45px; }

 .mg-btm-xs { margin-bottom: 5px; }
 .mg-btm-sm { margin-bottom: 15px; }
 .mg-btm-md { margin-bottom: 25px; }
 .mg-btm-lg { margin-bottom: 45px; }

 .mg-left-xs { margin-left: 5px; }
 .mg-left-sm { margin-left: 15px; }
 .mg-left-md { margin-left: 25px; }
 .mg-left-lg { margin-left: 45px; }

 .mg-top-n-btm-xs { margin-top: 5px; margin-top: 5px}
 .mg-top-n-btm-sm { margin-top: 15px; margin-top: 15px}
 .mg-top-n-btm-md { margin-top: 25px; margin-top: 25px}
 .mg-top-n-btm-lg { margin-top: 45px; margin-top: 45px}

 .mg-r-n-l-xs { margin-right: 5px; margin-left: 5px; }
 .mg-r-n-l-sm { margin-right: 15px; margin-left: 15px; }
 .mg-r-n-l-md { margin-right: 25px; margin-left: 25px; }
 .mg-r-n-l-lg { margin-right: 45px; margin-left: 45px; }

 // Paddings
 .no-pd { padding: 0; }

 .pd-xs { padding: 5px; }
 .pd-sm { padding: 15px; }
 .pd-md { padding: 25px; }
 .pd-lg { padding: 45px; }

 .pd-top-xs { padding-top: 5px; }
 .pd-top-sm { padding-top: 15px; }
 .pd-top-md { padding-top: 25px; }
 .pd-top-lg { padding-top: 45px; }

 .pd-right-xs { padding-right: 5px; }
 .pd-right-sm { padding-right: 15px; }
 .pd-right-md { padding-right: 25px; }
 .pd-right-lg { padding-right: 45px; }

 .pd-btm-xs { padding-bottom: 5px; }
 .pd-btm-sm { padding-bottom: 15px; }
 .pd-btm-md { padding-bottom: 25px; }
 .pd-btm-lg { padding-bottom: 45px; }

 .pd-left-xs { padding-left: 5px; }
 .pd-left-sm { padding-left: 15px; }
 .pd-left-md { padding-left: 25px; }
 .pd-left-lg { padding-left: 45px; }

 .pd-top-n-btm-xs { padding-top: 5px; padding-top: 5px}
 .pd-top-n-btm-sm { padding-top: 15px; padding-top: 15px}
 .pd-top-n-btm-md { padding-top: 25px; padding-top: 25px}
 .pd-top-n-btm-lg { padding-top: 45px; padding-top: 45px}

 .pd-r-n-l-xs { padding-right: 5px; padding-left: 5px; }
 .pd-r-n-l-sm { padding-right: 15px; padding-left: 15px; }
 .pd-r-n-l-md { padding-right: 25px; padding-left: 25px; }
 .pd-r-n-l-lg { padding-right: 45px; padding-left: 45px; }

 // Screen width

	// Default width setting
	$width-lg: 1200;
 	$width-md: 992;
 	$width-sm: 768;
 	$width-xs: 480;

 	// Max width
 	$max-width-lg: $width-lg + 'px';
 	$max-width-md: $width-md + 'px';
 	$max-width-sm: $width-sm + 'px';
 	$max-width-xs: $width-xs + 'px';

	// Min width
 	$min-width-lg: $width-lg + 1 + 'px';
 	$min-width-md: $width-md + 1 + 'px';
 	$min-width-sm: $width-sm + 1 + 'px';
 	$min-width-xs: $width-xs + 1 + 'px';


  // DOM
  $side-nav-width: 375px;
