.clearfix:before,
.clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

/*
 * Colors
 */
/*
 * Fonts
 */
/* @import url(http://fonts.googleapis.com/css?family=Montserrat:400,700); */
/* @import url(http://fonts.googleapis.com/css?family=Merriweather); */
/*
 * Paddings and margins
 */
.no-mg {
  margin: 0; }

.mg-xs {
  margin: 5px; }

.mg-sm {
  margin: 15px; }

.mg-md {
  margin: 25px; }

.mg-lg {
  margin: 45px; }

.mg-top-xs {
  margin-top: 5px; }

.mg-top-sm {
  margin-top: 15px; }

.mg-top-md {
  margin-top: 25px; }

.mg-top-lg {
  margin-top: 45px; }

.mg-right-xs {
  margin-right: 5px; }

.mg-right-sm {
  margin-right: 15px; }

.mg-right-md {
  margin-right: 25px; }

.mg-right-lg {
  margin-right: 45px; }

.mg-btm-xs {
  margin-bottom: 5px; }

.mg-btm-sm {
  margin-bottom: 15px; }

.mg-btm-md {
  margin-bottom: 25px; }

.mg-btm-lg {
  margin-bottom: 45px; }

.mg-left-xs {
  margin-left: 5px; }

.mg-left-sm {
  margin-left: 15px; }

.mg-left-md {
  margin-left: 25px; }

.mg-left-lg {
  margin-left: 45px; }

.mg-top-n-btm-xs {
  margin-top: 5px;
  margin-top: 5px; }

.mg-top-n-btm-sm {
  margin-top: 15px;
  margin-top: 15px; }

.mg-top-n-btm-md {
  margin-top: 25px;
  margin-top: 25px; }

.mg-top-n-btm-lg {
  margin-top: 45px;
  margin-top: 45px; }

.mg-r-n-l-xs {
  margin-right: 5px;
  margin-left: 5px; }

.mg-r-n-l-sm {
  margin-right: 15px;
  margin-left: 15px; }

.mg-r-n-l-md {
  margin-right: 25px;
  margin-left: 25px; }

.mg-r-n-l-lg {
  margin-right: 45px;
  margin-left: 45px; }

.no-pd {
  padding: 0; }

.pd-xs {
  padding: 5px; }

.pd-sm {
  padding: 15px; }

.pd-md {
  padding: 25px; }

.pd-lg {
  padding: 45px; }

.pd-top-xs {
  padding-top: 5px; }

.pd-top-sm {
  padding-top: 15px; }

.pd-top-md {
  padding-top: 25px; }

.pd-top-lg {
  padding-top: 45px; }

.pd-right-xs {
  padding-right: 5px; }

.pd-right-sm {
  padding-right: 15px; }

.pd-right-md {
  padding-right: 25px; }

.pd-right-lg {
  padding-right: 45px; }

.pd-btm-xs {
  padding-bottom: 5px; }

.pd-btm-sm {
  padding-bottom: 15px; }

.pd-btm-md {
  padding-bottom: 25px; }

.pd-btm-lg {
  padding-bottom: 45px; }

.pd-left-xs {
  padding-left: 5px; }

.pd-left-sm {
  padding-left: 15px; }

.pd-left-md {
  padding-left: 25px; }

.pd-left-lg {
  padding-left: 45px; }

.pd-top-n-btm-xs {
  padding-top: 5px;
  padding-top: 5px; }

.pd-top-n-btm-sm {
  padding-top: 15px;
  padding-top: 15px; }

.pd-top-n-btm-md {
  padding-top: 25px;
  padding-top: 25px; }

.pd-top-n-btm-lg {
  padding-top: 45px;
  padding-top: 45px; }

.pd-r-n-l-xs {
  padding-right: 5px;
  padding-left: 5px; }

.pd-r-n-l-sm {
  padding-right: 15px;
  padding-left: 15px; }

.pd-r-n-l-md {
  padding-right: 25px;
  padding-left: 25px; }

.pd-r-n-l-lg {
  padding-right: 45px;
  padding-left: 45px; }

a, button, label {
  -webkit-tap-highlight-color: lighter(#eee, 0.5); }

html {
  height: 100%;
  width: 100%;
  font-size: 17px;
  line-height: 1.5;
  font-weight: normal; }

body {
  width: 100%;
  margin: 0 auto;
  font-family: "Avenir";
  color: #606871;
  background-color: rgba(181, 183, 188, 0.1); }
  body.container-fluid {
    padding: 0; }

h1, h2, h3, ul, li, a, img, form, input, p, div, header, nav, section, article, main {
  margin: 0;
  padding: 0; }

img {
  max-width: 100%; }

ul {
  padding-left: 0; }

ul li {
  list-style: none; }

a {
  color: inherit;
  text-decoration: none; }

button, input, textarea {
  outline: none;
  border: none; }

img {
  vertical-align: middle; }

.container {
  width: 100%;
  position: relative;
  height: auto !important;
  height: 100%;
  min-height: 100%; }

::-moz-selection {
  background-color: #eee; }

::selection {
  background-color: #eee; }

::-moz-selection {
  background-color: #eee; }

::-webkit-input-placeholder {
  color: #BDC3C7; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #BDC3C7; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #BDC3C7; }

:-ms-input-placeholder {
  color: #BDC3C7; }

.nav-open .header #menu-toggle {
  background-color: #fdb0ad; }
  .nav-open .header #menu-toggle .menu-toggle-line {
    background-color: #fff; }
    .nav-open .header #menu-toggle .menu-toggle-line:first-child {
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg);
      top: 27px; }
    .nav-open .header #menu-toggle .menu-toggle-line:nth-child(2) {
      display: none; }
    .nav-open .header #menu-toggle .menu-toggle-line:last-child {
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg);
      top: 27px; }

.header {
  font-family: "Avenir";
  background-color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  transition: -webkit-transform 0.15s cubic-bezier(0.2, 0.3, 0.25, 0.9);
  transition: transform 0.15s cubic-bezier(0.2, 0.3, 0.25, 0.9);
  border-bottom: 1px solid #fdb0ad; }
  .header.header--hidden {
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%); }
  .header .header-inner {
    position: relative; }
  .header #menu-toggle {
    display: inline-block;
    width: 60px;
    height: 60px;
    position: relative;
    float: left; }
    .header #menu-toggle .menu-toggle-line {
      width: 26px;
      height: 2px;
      background-color: #fdb0ad;
      margin: 0 auto;
      display: block;
      position: absolute;
      left: 16px;
      transition: all 0.15s cubic-bezier(0.2, 0.3, 0.25, 0.9); }
      .header #menu-toggle .menu-toggle-line:first-child {
        top: 19px; }
      .header #menu-toggle .menu-toggle-line:nth-child(2) {
        top: 27px; }
      .header #menu-toggle .menu-toggle-line:last-child {
        top: 35px; }
  .header .header__logo {
    font-size: 3em;
    color: #333;
    display: inline-block; }
    @media screen and (min-width: 993px) {
      .header .header__logo {
        text-align: center; } }
    .header .header__logo__initial-letter {
      font-size: 1.3em;
      color: #F64747; }

    .header .header__logo__others {
      font-size: .5em;
      color: #BDC3C7; }
    .header .header__logo a:hover {
      transition: .3s;
      text-decoration: none;
      cursor: pointer; }
      .header .header__logo a:hover .header__logo__initial-letter {
        transition: .7s;
        -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
                transform: rotate(360deg); }
  .header .header__back-to-top {
    display: inline-block;
    float: right;
    width: 40px;
    height: 40px;
    color: #fdb0ad;
    border: 1px solid #fdb0ad;
    border-radius: 2px;
    background: transparent;
    transition: 0.15s all cubic-bezier(0.2, 0.3, 0.25, 0.9);
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    margin-right: 30px;
    cursor: pointer; }
    .header .header__back-to-top:hover {
      color: #fff;
      background: #fdb0ad; }

.nav-open .aside {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0); }
  .nav-open .aside.aside--header-hidden {
    -webkit-transform: translate3d(0, -60px, 0);
            transform: translate3d(0, -60px, 0);
    /* height: calc(100% + 50px); */ }

.aside {
  padding: 15px 0;
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  width: 20%;
  height: 100%;
  z-index: 100;
  background: transparent;
  background-color: rgba(255, 255, 255, 0.95);
  overflow-y: auto;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  transition: -webkit-transform 0.15s cubic-bezier(0.2, 0.3, 0.25, 0.9);
  transition: transform 0.15s cubic-bezier(0.2, 0.3, 0.25, 0.9);
  box-shadow: 4px 9px 20px rgba(0, 0, 0, 0.05); }
  @media screen and (max-width: 480px) {
    .aside {
      width: 100%; } }
  @media screen and (min-width: 481px) and (max-width: 992px) {
    .aside {
      width: 50%; } }

.filter-form__label {
  margin: 0; }

/* .filter-nav {
	position: absolute;
	.filter-form {
		font-family: \$aside-form-f;
		@at-root {
			__item {
				width: 100%;
				height: 30px;
				line-height: 30px;
				@media screen and (max-width: \$max-width-xs) {
					height: 35px;
					margin-top: 10px;
				}
			}
			__input {
				width: 20px;
				&:hover __label {
					border-right: 3px solid \$filter-form__label_font-color_hover;
					color: \$filter-form__label_font-color_hover;
				}
			}
			__input--checked {
				@extend .filter-form__input;
			}
			__label {
				color: \$filter-form-font-color;
				width: calc(98% - 23px);
				text-align: center;
				@media screen and (max-width: \$max-width-xs) {
					padding-bottom: 5px;
				}
				&:hover {
					transition: .3s ease-in-out;
					color: \$filter-form__label_font-color_hover;
					border-right: 3px solid \$filter-form__label_font-color_hover;
					cursor: pointer;
					@media screen and (max-width: \$max-width-xs) {
						border-right: none;
						border-bottom: 3px solid \$filter-form__label_font-color_hover;
					}
				}
			}
			__label--checked {
				@extend .filter-form__label;
				border-right: 3px solid \$filter-form__label_font-color_hover;
				color: \$filter-form__label_font-color_hover;
				@media screen and (max-width: \$max-width-xs) {
					padding-bottom: 5px;
					border-right: none;
					border-bottom: 3px solid \$filter-form__label_font-color_hover;
				}
			}
		}
	}
} */
.filter-nav .filter-nav__list .filter-item {
  display: block;
  float: left;
  margin-right: 5px;
  margin-left: 5px; }
  .filter-nav .filter-nav__list .filter-item:first-child {
    float: none; }
  .filter-nav .filter-nav__list .filter-item__btn {
    background: transparent;
    color: #76a5db;
    border: 2px solid #76a5db;
    transition: background .15s, color .15s; }
    .filter-nav .filter-nav__list .filter-item__btn.current, .filter-nav .filter-nav__list .filter-item__btn:hover {
      background: #76a5db;
      color: #fff; }

.post-nav .post-form h3 {
  color: #BDC3C7;
  position: relative; }
  .post-nav .post-form h3 label {
    transition: color .1s;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee; }
    .post-nav .post-form h3 label.hover {
      color: #F64747;
      cursor: pointer; }
    .post-nav .post-form h3 label.post-form__label--checked {
      color: #F64747; }
    .post-nav .post-form h3 label[for="title"] {
      padding: 0; }
  .post-nav .post-form h3 input#title {
    padding: 5px 15px;
    font-weight: 500;
    border-bottom: 0; }
    .post-nav .post-form h3 input#title::-webkit-input-placeholder {
      line-height: normal; }
  .post-nav .post-form h3 > div {
    position: absolute;
    left: 25px;
    top: 14px; }
.post-nav .post-form label {
  display: block;
  margin: 0; }
.post-nav .post-form textarea, .post-nav .post-form input {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 0;
  color: #606871;
  font-weight: 500;
  border-bottom: 2px solid #eee; }
.post-nav .post-form textarea {
  resize: vertical;
  max-height: 150px;
  min-height: 100px; }
.post-nav .post-form__item--title,
.post-nav .post-form__item--memo,
.post-nav .post-form__item--quote,
.post-nav .post-form__item--media,
.post-nav .post-form__item--tag,
.post-nav .post-form__item--submit {
  border-right: 2px solid #eee;
  border-left: 2px solid #eee;
  margin-bottom: 30px; }

.post-form__item--title {
  margin-top: 30px; }

.quote-item__blockquote {
  margin-bottom: 15px;
  margin-top: 15px; }

.filtered .quote-item .quote-item__tag {
  background: #76a5db;
  color: #fff; }
  .filtered .quote-item .quote-item__tag:hover {
    background: #76a5db;
    color: #fff; }

.nav-open .overlay {
  opacity: 1;
  width: 100%;
  height: 100%;
  left: 0;
  cursor: pointer; }

.content-main {
  padding-bottom: 70px;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  width: 100%;
  padding-top: 60px;
  transition: all 0.15s cubic-bezier(0.2, 0.3, 0.25, 0.9);
  float: right; }

.overlay {
  display: block;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: all 0.0075s cubic-bezier(0.2, 0.3, 0.25, 0.9);
  position: absolute;
  top: 60px;
  left: -80%;
  width: 0;
  height: 0; }

.quotes-gallery {
  width: 100%;
  height: 100%; }

.quote-item {
  float: left;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 3px; }
  @media screen and (max-width: 480px) {
    .quote-item {
      width: 100%; } }
  @media screen and (min-width: 481px) and (max-width: 992px) {
    .quote-item {
      width: 50%; } }
  @media screen and (min-width: 993px) {
    .quote-item {
      width: calc(33% - 25px);
      margin-left: 25px; } }
  .quote-item .quote-item__delete-btn, .quote-item .quote-item__edit-btn {
    position: absolute;
    top: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    padding: 0; }
  .quote-item.v-enter {
    -webkit-animation: fadein .5s;
            animation: fadein .5s; }
  .quote-item.v-leave {
    -webkit-animation: fadeout .5s;
            animation: fadeout .5s; }
  .quote-item .quote-item__delete-btn {
    background-color: #fdb0ad;
    right: 10px; }
  .quote-item .quote-item__edit-btn {
    background-color: #fdeaa2;
    right: 25px; }
  .quote-item .quote-item__title {
    font-weight: bold;
    letter-spacing: .025em; }
  .quote-item .quote-item__memo {
    padding: 20px 0;
    font-size: 15px; }
  .quote-item .quote-item__blockquote {
    width: 90%;
    text-align: justify;
    margin-right: auto;
    margin-left: auto; }
  .quote-item .quote-item__link {
    text-decoration: underline; }
    .quote-item .quote-item__link:hover {
      color: #333; }
  .quote-item .quote-item__info {
    text-align: right; }
  .quote-item .quote-item__iframe {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden; }
    .quote-item .quote-item__iframe iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  .quote-item .quote-item__date {
    width: 100%;
    display: inline-block;
    text-align: right;
    padding: 15px 0; }
  .quote-item .quote-item__tag {
    background: transparent;
    color: #76a5db;
    border: 2px solid #76a5db;
    border-radius: 2px;
    transition: background .15s, color .15s; }
    .quote-item .quote-item__tag:hover {
      background: #76a5db;
      color: #fff; }
  .quote-item .quote-item__comment-button {
    float: right;
    display: inline-block;
    outline: none; }
  .quote-item .quote-item__comments {
    clear: both;
    display: none;
    float: left;
    width: 90%;
    margin-left: 5%;
    border: 2px dashed #eee; }
  .quote-item .quote-item__comment {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    border-bottom: 1px solid #eee; }
  .quote-item .quote-item__comment__date {
    float: right; }

.load-more-button-wrapper {
  padding-bottom: 70px; }
  @media screen and (max-width: 480px) {
    .load-more-button-wrapper {
      text-align: center; } }

#load-more-button {
  outline: none; }
  #load-more-button:hover {
    transition: .3s ease-in-out;
    background-color: #eee; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center; }
  @media screen and (max-width: 480px) {
    .footer {
      position: relative;
      line-height: inherit; }
      .footer__top--xs {
        display: block; }

      .footer__bottom--xs {
        display: block; } }

.author-name {
  text-decoration: underline; }
  .author-name:hover {
    color: #333; }
